@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corPrincipal: #b91c1c;
  --corPrincipal2: #b91c1cbd;
  --corTextos: #4e4d4d;
  --corComplementar: #721111;
  --corCompleme: #a7756f;
  --corFundo: #f2f2f2;
  --corFundo2: rgb(250, 250, 250);
  --corFundo2Produto: #e4a4ac;
  --corFundo2Prod: #ffc6c7;
}

body {
  background-color: var(--corFundo2);
}

@layer {
  .alinha {
    @apply flex flex-col justify-between items-center;
  }
  .alinha2 {
    @apply flex flex-col justify-center items-center;
  }
  .alinha3 {
    @apply flex justify-start items-start;
  }
  .alinha4 {
    @apply flex justify-between items-center;
  }
  .alinha6 {
    @apply flex justify-center items-center;
  }
  .alinha5 {
    @apply flex justify-around items-center;
  }
  .link1 {
    @apply hover:scale-125 transition-all ease-in-out duration-300;
  }
  .link2 {
    @apply  hover:scale-125 transition-all ease-in-out duration-300;
  }
}
